.code-part {
  width: 35%;
  float: left;
}

.console {
  background-color: #fff;
  border: 1px solid #ced4da;
  padding: 10px;
  width: 50%;
  height: 350px;
  overflow-y: auto;
  overflow-x: auto;
  float: left;
}

.code-output {
  overflow: initial;
}

.console-error {
  background-color: #ffcccc;
}
