.modal.show {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-title {
  font-family: "Arial";
  font-size: 30px;
  text-align: center;
}

.modal-body {
  font-family: "Arial";
  font-size: 17px;
  color: #333;
  justify-content: center;
}

.modal-body p {
  margin-bottom: 1rem;
}

.modal-body h6 {
  margin-top: 1.5rem;
  font-family: "Arial";
  color: #333;
  text-align: right;
}
