.modal.show {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  max-width: 900px;
}

.modal-title {
  font-family: "Arial";
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

.modal-body {
  font-family: "Arial";
  font-size: 17px;
  color: #333;
  justify-content: center;
}

.modal-body p {
  margin-bottom: 1rem;
  font-size: 18px;
}

.carousel-item img {
  max-height: 400px;
}
