.margin-left {
  margin-left: 8px;
}

.margin-right {
  margin-right: 8px;
}

.overflow-ellipsis {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spinner-style {
  position: absolute;
  top: 70px;
  left: 950px;
}
