.thoughtBubbleStyle {
  position: absolute;
  background: #17a2b8;
  border-radius: 15px;
  padding: 20px;
  color: white;
  width: 400px;
  z-index: 9999;
  font-family: "Arial", sans-serif;
}

.thoughtBubbleStyle h5 {
  margin: 0 0 10px; /* Espaciado inferior para el título */
  font-size: 18px; /* Tamaño del título */
  font-weight: bold; /* Hacemos el título en negrita */
  color: #fff; /* Color del título */
}

.thoughtBubbleStyle p {
  margin: 0; /* Eliminamos el margen del párrafo */
  font-size: 16px; /* Tamaño del texto */
}

.beforeAfterStyle {
  content: "";
  position: absolute;
  background: #17a2b8;
  border-radius: 50%;
}

.beforeStyle {
  width: 20px;
  height: 20px;
  bottom: -10px;
  left: 20px;
}

.afterStyle {
  width: 12px;
  height: 12px;
  bottom: -25px;
  left: 40px;
}
