.blocks-editor-container {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .blocks-editor-container {
    width: 65%;
  }
}

.workspace-buttons-container {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}
